.fa-paint-roller{
    color: gold;
}
.fa-trash-alt{
    color: tomato;
}
// #adminpaneltable{
//     background-color: #0b8099;
// }

.table{
    color: #fff;
    background-color: #6B7AA1;
    font-size: large;
    // opacity: 0.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
}
.ilerigeri{
    background-color: #A7C5EB;
}